.App {
  text-align: center;
  height: 100%;
  background-color: #20201f;
}
body {
  background: #171514;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #171514;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
